doctype html 
html 
    head
        title Tareas
    body
        form(method="POST") 
            input(type="email" name="email" placeholder="Correo electrónico")
            input(type="password" name="password" placeholder="Correo electrónico")
            input(type="submit" value="Crear cuenta")