doctype html 
html 
    head
        title Tareas
    body
        form(action=`/tasks/${task.id}?_method=PUT` method="POST") 
            textarea(name="description", placeholder="Coloca aquí el pendiente a realizar", cols="30", rows="10")= task.description
            input(type="submit" value="Actualizar")